{{ $authorKeys := .Params.authors }}
{{ with .Params.author }}
  {{ $authorKeys = $authorKeys | append . }}
{{ end }}
{{ if $authorKeys }}
  <aside class="author-card">
    <p class="author-label">Written by</p>
    {{ range $authorKeys }}
      {{ $author := index $.Site.Data.authors . }}
      {{ if $author }}
      <div class="author-entry">
        <p class="author-name">{{ $author.name }}</p>
        {{ with $author.role }}<p class="author-role">{{ . }}</p>{{ end }}
      </div>
      {{ end }}
    {{ end }}
  </aside>
{{ end }}
